.chatBox {
    border-style: solid;
    border-color: #000C85;
    border-width: 1ch;
    border-radius: 15px;
}

.upperButtons {
    height: 10%;
}

.messagesArea {
    height: 70%;
    overflow-y: scroll;
    display: flex;
    flex-direction:column-reverse;
    border-style: solid;
    border-color: #105EE9;
    border-width: 0.7ch;
    border-radius: 2px;
}

.chatMessage {
    border-style: solid;
    border-radius: 15px;
    border-width: thin;
    border-color: #000C85;
}

.senderMessage {
    background-color:cornflowerblue; color:white;
}

.receiverMessage {
    background-color:ghostwhite;
}

.messageDate {
    font-size: small;
}

.userInputs {
    height: 20%;
}

.messageForm {
    display:inline;
}

.messageTextArea {
    resize: none;
    height: fit-content;
    border-style: solid;
    border-color: #105EE9;
}

.viewReservationsButton {
    background-color: purple;
    color: white;
}

.viewReservationsButton:hover {
    background-color: purple !important;
    color: white !important;
    filter:brightness(110%);
}