.role-title{

    font-size: 4em;

}

.role-image{
    max-height: 100%;
    max-width: 90%;
    display:inline-block;
    margin-top: 10px;
}

.role-image:hover{

    border-style: solid;
    border-color: green;
    border-width: 7px;

}

.chooseYourSide{
    height: 50px;
    text-align: center;
}