.viewChatButton {
    background-color: #033793;
    color: white;
}

.viewChatButton:hover {
    filter: brightness(110%) !important;
    background-color: #033793 !important;
    color: white !important;
}

.viewPaymentButton {
    background-color: purple;
    color: white;
}

.viewPaymentButton:hover{
    filter: brightness(110%) !important;
    background-color: purple !important;
    color:white !important;
}

table{
    table-layout: fixed;
}

td{
    width: 150px;
    overflow-wrap:break-word;
}