form{
    display: inline;
}

.viewPaymentButton {
    background-color: purple;
    color: white;
}

.viewPaymentButton:hover {
    background-color: purple !important;
    color: white !important;
    filter: brightness(110%);
}

.viewChatButton {
    background-color: #033793;
     color: white;
}

.viewChatButton:hover {
    background-color: #033793 !important;
    color: white !important;
    filter: brightness(110%);
}

.petsTable {
    table-layout: fixed;
}

.petTableColumn {
    width: 150px;
    overflow-wrap:break-word;
}