body{
    margin: 0;
    padding: 0;
    /*font-family: 'Nabla', cursive;*/
    text-align: center;
}

h1, h2{
    font-family: 'Nabla', cursive;
}

.container{
    border-radius: 50px;
    width: 10%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;   
}

button{
    background-image: url("./TP-Final-4\Views\images\rick-roll.gif");
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 50px;
    border: 0ch;
    cursor: pointer;
    background-color: red;
    /*animation-name: example;*/
    animation-name: bobbingAnim;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

.back{
    background-image: url("./TP-Final-4\Views\images\rick-roll.gif");
    background: url("rick-roll.gif") no-repeat center center fixed; 
    height: 1000px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%
}

@keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: red;}
  }

  @keyframes bobbingAnim {
    0% {
     transform: translate(0px, 0px) rotateZ(0.001deg);  
     animation-timing-function:ease-in-out
    }
  
    50% {
      transform: translate(677px, 123px) rotateZ(0.001deg);
      animation-timing-function:ease-in-out
    }

    75% {
        transform: translate(124px, 1256px) rotateZ(0.001deg);
      animation-timing-function:ease-in-out
    }
  
    100% {
     transform: translate(0px, 0px) rotateZ(0.001deg);  
     animation-timing-function:ease-in-out
    }
  }



