.center {
    margin: auto;
    width: 50%;
    border: 3px solid ;
    padding: 10px;
    align-content: center;
    align-items: center;
    text-align: center;
  }

.bImageFix{

background-repeat: no-repeat;
background-size: 100% 100%;
}

